{{!-- asd --}}
<h1>User Profile</h1>
<p>{{user.name}}</p>

<a href="/post/create">Create Post</a>
<a href="/post/list">See all posts</a>

{{#each posts}}
<a href="/post/{{ this._id }}">
    {{> singlepost}}
</a>
{{/each}}

{{#ifEquals loggedUser.id user.id}}
<div class="sec-profile">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-12">
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span></h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Name: </strong> {{user.name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Email: </strong> {{user.email}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Role: </strong> {{user.role}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form" action="/profile/edit/{{user.id}}" method="POST">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Name</label>
                                <div class="col-lg-9">
                                    <input name="name" class="form-control" type="text" placeholder="{{user.name}}"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label disabled">Email </label>
                                <div class="col-lg-9">
                                    <input name="email" class="form-control" type="email" placeholder="{{user.email}}"
                                        required>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Role</label>
                                <div class="col-lg-9">
                                    <select name="role" class="form-control" name="role">
                                        <option value="Surfer">Surfer</option>
                                        <option value="Teacher">Teacher</option>

                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="submit" class="btn btn-success" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="{{user.photo}}" alt="photo" class="mx-auto img-fluid img-circle d-block" id="TeacherPhoto">

                {{!-- <img src="" class="mx-auto img-fluid img-circle d-block" alt="photo"> --}}
                {{!-- <h6 class="mt-2">Upload a different photo</h6> --}}
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="btn btn-success custom-file-control">Choose new photo</span>
                </label>
            </div>
        </div>
    </div>
</div>
{{else}}

<div class="sec-profile">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li> --}}
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-12">
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span></h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Name: </strong> {{user.name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Email: </strong> {{user.email}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Role: </strong> {{user.role}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form" action="/profile/edit/{{user.id}}" method="POST">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Name</label>
                                <div class="col-lg-9">
                                    <input name="name" class="form-control" type="text" placeholder="{{user.name}}"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label disabled">Email </label>
                                <div class="col-lg-9">
                                    <input name="email" class="form-control" type="email" placeholder="{{user.email}}"
                                        required>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Role</label>
                                <div class="col-lg-9">
                                    <select name="role" class="form-control" name="role">
                                        <option value="Surfer">Surfer</option>
                                        <option value="Teacher">Teacher</option>

                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="submit" class="btn btn-success" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="{{user.photo}}" alt="photo" class="mx-auto img-fluid img-circle d-block" id="TeacherPhoto">

                {{!-- <img src="" class="mx-auto img-fluid img-circle d-block" alt="photo"> --}}
                {{!-- <h6 class="mt-2">Upload a different photo</h6> --}}
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="btn btn-success custom-file-control">Choose new photo</span>
                </label>
            </div>
        </div>
    </div>
</div>

{{/ifEquals}}


















{{#ifEquals user.role "Teacher"}}
<a href="mailto:{{user.email}}">Send Email and Book Your Lesson</a>
{{!-- <div class="div-map map-welcome-page" id="map"></div> --}}

<body>
    <div id="floating-panel">
        <input id="address" type="textbox" value="City">
        <input id="submit" type="button" value="Enter">
    </div>
    <div id="map2"></div>
    <script>

        function initMap2() {
            let map2 = new window.google.maps.Map(document.getElementById('map2'), {
                zoom: 8,
                center: { lat: 38.397, lng: -9.644 }
            });
            let geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function () {
                geocodeAddress(geocoder, map2);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            let address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    let marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }



    </script>

</body>
{{/ifEquals}}